.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    
}

/* .listContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #f5f5f5;
    padding: 30px;
    height: 300px;
} */

#nameList,#timeList,#btnList li {
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
}
#timeList,#nameList {
    width: 200px;
}